/* Reset & Base */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  background: url("https://thumbs.dreamstime.com/b/php-code-snippets-collage-programmers-view-dark-background-software-developer-concept-coding-program-syntax-highlighting-367421224.jpg")
  /* min-height: 100vh; */
  
}
header {
  background: #0a192f;
  padding: 20px 40px;
  color: white;
}

nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logo {
  font-size: 28px;
  font-weight: bold;
}

.nav-links {
  display: flex;
  gap: 20psx;
  list-style: none;
}

.nav-links a {
  color: white;
  text-decoration: none;
  padding: 6px 12px;
  border-radius: 6px;
}

.nav-links .active,
.nav-links a:hover {
  background: #a3cac1;
  color: #0a192f;
}


/* Contact Section */
.contact-section {
  padding: 60px 20px;
  display: flex;
  justify-content: center;
  align-items: center;
}

/* Contact Card */
.contact-card {
  background: rgba(255, 255, 255, 0.85);
  backdrop-filter: blur(10px);
  padding: 35px;
  border-radius: 16px;
  box-shadow: 0 10px 25px rgb(43, 86, 134);
  max-width: 460px;
  text-align: center;
  transition: transform 0.3s ease;
}

.contact-card:hover {
  transform: translateY(-5px);
}

.contact-card h2 {
  font-size: 32px;
  margin-bottom: 25px;
    color: #0a192f;
    text-shadow: 5px 1px 8px rgba(38, 85, 139, 0.89);
}

/* Contact Info */
.contact-info p {
  font-size: 18px;
  margin: 12px 0;
  color: #333;
  font-weight: bold;
}

.contact-info a {
  color: #6c63ff;
  text-decoration: none;
  transition: color 0.3s;
}

.contact-info a:hover {
  color: #4834d4;
}
